<p id="notice"><%= notice %></p>

<p>
  <b>Icc:</b>
  <%= @locality.icc %>
</p>

<p>
  <b>Text:</b>
  <%= @locality.text %>
</p>


<%= link_to 'Edit', edit_locality_path(@locality) %> |
<%= link_to 'Back', localities_path %>
