<p id="notice"><%= notice %></p>

<p>
  <b>Ibc:</b>
  <%= @source.ibc %>
</p>

<p>
  <b>Type:</b>
  <%= @source.type %>
</p>

<p>
  <b>Curr:</b>
  <%= @source.curr %>
</p>

<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<p>
  <b>Code:</b>
  <%= @source.code %>
</p>

<p>
  <b>Text:</b>
  <%= @source.text %>
</p>

<p>
  <b>Mult:</b>
  <%= @source.mult %>
</p>

<p>
  <b>Stks:</b>
  <%= @source.stks %>
</p>

<p>
  <b>Misc:</b>
  <%= @source.misc %>
</p>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
